.protection_title {
  font-family: var(--secondary-font);
    font-size: 29px;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
}

.protection_img {
  margin-top: 50px;
}

 @media screen and (min-width: 1200px) {
.protection_img {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}
  }